@inherits LocalComponentBase

@{
    RenderFragment<RenderFragment> simple = c => @<span class="@Classes">@c</span>;

    RenderFragment<RenderFragment> full = c =>
            @<span
                class="@Classes"
                @onmouseover:stopPropagation
                @onmouseover="() => IsHovering = true"
                @onmouseout="() => IsHovering = false"
                @onclick:stopPropagation
                @onclick="OpenChooser"
            >@c</span>
    ;

    RenderFragment<RenderFragment> GetWrapper()
    {
        if (Context is null || !Context.IsInteractive) return simple;

        return full;
    }
}

<WrapperApplication Wrapper="@GetWrapper()">
    <BzExpressionContent Expression="@Expression" IsInner="@IsInner" />

    @if (Context?.AllowsDerivation == true && UiExpression?.Annotation is UiAnnotation annotation)
    {
        <div class="@GetAnnotationClasses(annotation.IsTopOrLeft)">
            <div class="annotation-box">
                <BzWithResetContext>
                    <BzChainPart Part="annotation.ChainPart" />
                </BzWithResetContext>
            </div>
        </div>
        
    }
    else if (IsChooserOpen)
    {
        <div class="@GetAnnotationClasses(null)">
            <div class="chooser-box">
                <BzChooserBoxContent ChainParts="ChainParts" OnSelected="HandleChoice" />
            </div>
        </div>
    }
</WrapperApplication>

@code {
    [Parameter]
    public Expression Expression { get; set; } = null!;

    [CascadingParameter]
    public IExpressionContext? Context { get; set; }

    [Parameter]
    public Boolean IsInner { get; set; }

    public UiExpression? UiExpression => Expression.Ui as UiExpression;

    public Boolean IsHovering { get; set; }

    public Boolean IsChooserOpen => ChainParts is not null;

    public ChainPart[]? ChainParts { get; set; }

    String GetAnnotationClasses(Boolean? isTopOrLeft) => ClassNames(
        "annotation",
        "annotation-top".If(isTopOrLeft == true),
        "annotation-bottom".If(isTopOrLeft == false),
        "annotation-right".If(isTopOrLeft is null)
    );

    String Classes => ClassNames("expression", "position-relative", "hovering".If(IsHovering));

    public void OpenChooser()
    {
        if (Context is null) return;

        Context.BeginDerivation(Expression, CloseChooser, out var suggestions);

        ChainParts = suggestions;
    }

    void CloseChooser()
    {
        ChainParts = null;

        StateHasChanged();
    }

    void HandleChoice(ChainPart choice)
    {
        Context?.SetAnnotation(UiExpression!, choice);

        SetUpdateSubscription(UiExpression);

        CloseChooser();
    }
}
