@{
    if (Expression is null) return;
}

@if (Expression is AtomExpression ae)
{
    <span>@ae.Symbol</span>
}
else if (Expression is BinaryExpression be)
{
    if (IsInner)
    {
        <text>(</text>
    }
    <BzExpression Expression="@be.Lhs" IsInner="true" />
    <span>@be.Symbol</span>
    <BzExpression Expression="@be.Rhs" IsInner="true" />
    if (IsInner)
    {
        <text>)</text>
    }
}
else if (Expression is UnaryExpression ue)
{
    <span><span>@ue.Symbol</span> <BzExpression Expression="@ue.Op" IsInner="true" /></span>
}

@code {
    [Parameter]
    public Expression? Expression { get; set; }

    [Parameter]
    public Boolean IsInner { get; set; }
}
